     

    <div class="mdl-grid" >
        <h2>Handle Bars Section</h2>
        <span>Registration Number:</span>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">

            <form action="/registration" method="POST">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input regNumFieldHandleBars" pattern="[A-Z]{2}\s\d{3}\W\d{3}" placeholder="CA 111-111" type="text" name="reg">

                </div><br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect addButtonHandleBars" type="submit" style="background-color:#1AB365; color:white">
                ADD
            </button>
            </form>
            {{#if messages.info}}
                <div class="{{flashStyle}}">
                    <h5>{{messages.info}}</h5>
                </div>
            {{/if}}
            
        </div>
    </div>

    <div class="mdl-grid select">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
            <span>Town: </span>
           <select  onchange="selectTown()" name="townSelect" class="townSelect" >
            <option value="all" >AllTown</option>
            {{#each filters}}
                <option value="{{startswith}}" {{selectedTag}} >{{town_name}}</option>
            {{/each}}
            </select>

            <a href="/reset"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent clearRegNumsHandleBars">
                Clear list
            </button></a>
        </div>

    </div>

    <div class="mdl-grid regNumbersDisplayHandleBars">

        {{#each registrationNumbers}}
            <p class="mdl-button mdl-button--accent regNumDisHb"> {{reg_num}}</p>
        {{/each}}

    </div>

<script>
 function selectTown(){
    
     var tag = document.querySelector(".townSelect").value; 
    location.href = '/filter/' + tag;
 }

</script>